h1{
      background-color: #3e8e41;
      color: white;
      padding: 20px;
      text-align: center;
}
footer {
      background-color: #3e8e41;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }