h1{
      background-color: #3e8e41;
      color: white;
      padding: 20px;
      text-align: center;
}
body {
      font-family: Arial, sans-serif;
      background-color:#d8b4658f;
      margin:0;
      padding:0;
      color: #333;
    }
    header {
      background-color: #3e8e41;
      color: white;
      padding: 20px;
      text-align: center;
    }
    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }
    footer {
      background-color: #3e8e41;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    h2{
      color: #32CD32;
      padding: 15px;
      text-align: center;
    }
    h3{
      color:#006400;
      padding: 10px;
      text-align: center;
    }