     body {
      font-family: Arial, sans-serif;
      background-color: #f1f8f5;
      margin: 0;
      padding: 0;
      color: #333;
    }
    header {
      background-color: #3e8e41;
      color: white;
      padding: 20px;
      text-align: center;
    }
    section {
      padding: 20px;
      max-width: 900px;
      margin: auto;
    }
    h2 {
      color: #3e8e41;
    }
    .curiosidades {
      background-color: #dff0dc;
      padding: 15px;
      border-radius: 10px;
    }
    footer {
      background-color: #3e8e41;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:self-start;
    gap: 50px;
    flex-wrap: wrap;
}
.pagina {
    display:inline-flexbox;
  
    background-color: #8de2ab;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    min-width: 120px;
    box-shadow: 4px 4px 8px #3e8e41(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.pagina a {
    color: var(--verde);
    font-size: 1rem;
    text-decoration: none;
}
